.header{
display: flex;
justify-content:center;
flex-direction: column;
}

.hddh{
    justify-content: end;
    display: flex;
    gap: 15px;
    align-items: center;
}
.button{
 display: flex;
 justify-content: space-between;

}